div(id="errorModal" class="modal fade" tabindex="-1" role="dialog")
    div(class="modal-dialog modal-dialog-centered modal-sm" role="document")
        div(class="modal-content")

            div(class="modal-header")
                p(class="lead modal-title text-danger")
                    strong Error
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;

            div(class="modal-body text-center")
                p(id="errorMessage" class="lead") ...

            div(class="modal-footer text-center")
                 button(type="button" class="btn btn-primary mx-auto" data-dismiss="modal") Okay