div(class="col-lg-2 col-md-2 col-sm-4 col-4 p-0 m-0" data-toggle="popover" data-trigger="manual" data-placement="auto" data-html="true")
    div(class="d-block w-100 h-100")
        img(class="img-fluid img-thumbnail" src="/images/box.jpg" alt="")
        
        div(id="busyText" class="position-absolute t-35 w-100 d-none")
            h4(class="position-relative text-center text-danger mb-0") BUSY

        div(id="report" class="position-absolute icon-report d-none")