div(id="mediaBlockedModal" class="modal" tabindex="-1" role="dialog")
    div(class="modal-dialog modal-dialog-centered" role="document")
        div(class="modal-content")

            div(class="modal-body text-justify")
                p Please allow camera access and microphone access (by changing your browser settings for this website), then <b>reload</b> this page. You can usually give access by first pressing the far left area of your browser's address bar. The area to press is marked red in the picture below.

                img(class="img-fluid w-100" src="/images/cam_mic_access.png" alt="")