div(id="messageModal" class="modal" tabindex="-1" role="dialog")
    div(class="modal-dialog modal-dialog-centered" role="document")
        div(class="modal-content")

            div(class="modal-body text-center text-dark p-4")
                h5(class="mb-0") ...