div(id="orientationAlert" class="d-none")

    div(class="d-flex flex-column justify-content-center align-items-center h-100 bg-light")
            div(class="alert alert-light text-center text-dark border border-dark")
                strong Please put your screen in portrait mode.