div(id="progressModal" class="modal fade" tabindex="-1" role="dialog")
    div(class="modal-dialog modal-dialog-centered" role="document")
        div(class="modal-content")

            div(class="modal-body mt-3")
                div(class="progress")
                    div(class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%")
                div(id="progressMessage" class="text-center") processing...
