div(id="queue" class="d-none text-center px-3 px-md-5")
        div(class="mt-4 mb-3")
            p(class="m-0")
                small This is how you will look during the video call:
            div(class="video-container mx-auto mt-1")
                video(autoplay playsinline width="240" height="180")

        div You are number

        div
            h5(id="numberHeader" class="text-success")

        div in the queue

        div(class="my-3")
            small The lower your number, the closer you are getting to being greeted by 
            small(id="vipName" class="text-primary")  
            small  via a video call. Please use <b>headphones</b> to prevent echoing during the video call.
            small  Don't go anywhere! But if you must exit the queue, please press 
            a(id="exitQueueLink" href="#")
                small here
            small . Payment is not taken from your card before your video call begins. 