div(id="termsPrivacyModal" class="modal fade" tabindex="-1" role="dialog")
    div(class="modal-dialog modal-dialog-centered modal-sm" role="document")
        div(class="modal-content")

            div(class="modal-body text-center")
                p(class="lead") Do you completely understand and completely agree with all of the content in the links <a href="/terms-of-use" target="_blank">here</a> and <a href="/privacy-policy" target="_blank">here</a>?

            div(class="modal-footer text-center")
                button(type="button" class="btn btn-lg btn-success ml-auto" data-dismiss="modal") Yes
                a(href="/v/vip/logout" class="btn btn-lg btn-danger mr-auto") No