extends ../layout

block content
    div(class="px-3 px-md-5 py-3")
        p We process and store personal data about you, only to the extent that it is necessary, so that The Chat Matrix can function properly. We store the following personal data about you:

        ul
            li Your Instagram profile information, your Instagram profile data, your Instagram profile picture and your Instagram User ID. All of these can already be accessed by members of the public by visiting Instagram.
            li Your Stripe account ID, which is <b>#{stripeId}</b>